# Server
Flask==0.10.1
gunicorn==20.1.0
werkzeug==0.14.1


# flask-wtforms
Flask-WTF==0.9.5
WTForms-Components==0.9.7

# SQLAlchemy 
Flask-SQLAlchemy==2.1

# test
pytest==5.1.0
pytest-cov==2.7.1
flake8==3.7.8

# Tasks 
redis==3.3.7
psycopg2==2.8.1


# CLI.
Click==6.4

# Extensions.
flask-debugtoolbar==0.10.0
Flask-Mail==0.9.1
