* {
    font-family: 'Crimson Pro', serif;
    cursor: pointer;
    font-size: 16em;
}

.nav-header {
    position: relative;
    height: 50px;
    width: 100vw;
    background-color: #e1e8ee;
}

.contact-bar {
    position: relative;
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 0px auto;
}

.nav-media {
    color: lightsteelblue;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 20px;
    flex-grow: 1;
}

.nav-contact {
    color: lightsteelblue;
    padding-top: 13px;
    padding-bottom: 5px;
    font-size: 17px;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
}

.navbar {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0px auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 60px;
    font-size: 30px;
    font-weight:bolder;
    padding-top: 17px;
    color: lightslategrey;
    
}


.nav-menu {
    width: 700px;
    height: 60px;
    margin-left: 30px;
    flex-grow: 1.5px;
    display: flex ;
    justify-content: space-between;
    align-items: center;  
    color: rgb(255, 255, 255);  
    font-size: medium;
}

#links-page a {
    text-decoration: none;
    color: #919191;
    font-size: 20px;
}

.appointment {
    border: 1px solid rgb(243, 236, 236);
    padding: 15px;
    text-align: center;
    line-height: 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color:#5DB2FF;
    font-size: 18px;
    text-decoration: none;
}

.appointment:hover {
    background-color: white;
    transition-duration: 0.1s;
}


.main {
    position: relative;
    width: 100vw;
    min-height: 800px;
    background-image:url('/static/images/main2.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.main-content {
    width: 1200px;
    margin: 0px auto;
    padding-top: 250px;
    color: black;
}

.main-content h1 {
    font-size: 60px;
    font-family: 'Roboto Mono', "monospace";
}

.main-content h2 {
    font-weight: 200;
    font-size: 60px;
    font-family: 'Roboto Mono', 'Monospace';
    padding-top: 15px;
}

.main-content h3 {
    position: relative;
    font-size: 15px;
    font-family: 'Roboto Mono', 'Monospace';
    padding-top: 15px;
    width: 900px;
    padding-top: 30px;
    color: gray;
}

.service-main {
    color: white;
    width: 250px;
    height: 70px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px ;
    text-decoration: none;
    border-radius: 10px;
    background: #5DB2FF;
    font-size: 24px;
}

.service-main:hover {
    background-color: white;
    transition-duration: 0.1s;
}

.card-container {
    position: relative;
    width: 100vw;
    min-height: 300px;
    background-color: #83C4FF;
    margin: 0px auto;
}

.card {
    width: 1200px;
    min-height: 400px;
    margin: 0px auto;
    display: flex;
    flex-flow: row ;
}


.card1 i {
    font-size: 80px;
    padding-top: 60px;
    color: white;
}

.card1 h3 {
    padding-top: 20px;
    color: white;
    font-size: 30px;
}

.card1 p {
    font-size: 20px;
    color: white;
    padding-top: 25px;
    line-height: 30px;
}

.card-button {
    border: 2px solid rgb(247, 244, 244);
    color: white;
    width: 200px;
    height: 45px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 12px;
    background: #5DB2FF;
    font-size: 20px;
}

.card-button:hover {
    background-color: white;
    transition-delay: 0.1s;
    transition-duration: 0.8s;

}

.welcome-container {
    position: relative;
    min-height: 700px;
    width: 1200px;
    margin: 0px auto;
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.container-content {
    position: relative;
    background-color: white;
    height: 700px;
    width: 1200px;
    /* margin: 0px auto; */
    padding-left: 100px;
}

.container-content h2 {
    font-size: 30px;
    text-decoration: underline;
}

.container-content h1 {
    font-size: 50px;
    padding-top: 60px;
    font-weight: bold;
    line-height: 50px;
}

.container-content p {
    color: gray;
    font-size: 22px;
    line-height: 35px;
    padding-top: 35px;
}

.img1 {
    position: absolute;
    width: 350px;
    height: 450px;
    left: 0px;
    top: 0px;
    background-image: url(/static/images/container2.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.img2 {
    position: absolute;
    width: 350px;
    height: 450px;
    left: 280px;
    top: 150px;
    background-image: url(/static/images/container1.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

#learnflat {
    display: inline-block;
    width: 150px;
    margin-top: 100px;
    padding: 13px;
    border: 2px solid rgb(173, 173, 228);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

#learnflat:hover {
    background-color: #557fac;
    transition-delay: 0.1s;
    transition-duration: 0.8s;
    color: white;
}

.department-row {
    position: relative;
    min-height: 800px;
    width: 1200px;
    margin: 0px auto;
    background-color: rgb(16, 142, 173);
    margin-top: 5px;
}

.all-department {
    position: relative;
    display: flex;
    align-content: space-between;
    flex-flow: wrap;
    margin-top: 30px;
}

.department-row h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    position: relative;
}

.department-row h4 {
    text-align: center;
    padding-top: 20px;
}

.single-department {
    position: relative;
    width: 30%;
    height: 400px;
    background-color: rgb(59, 9, 9);
}

.feedback {
    width: 100vw;
    height: 600px;
    background-color: rgb(46, 127, 173);
    margin-top: 5px;
}

.service {
    width: 1200px;
    height: 550px;
    margin: 0px auto;
    background-color: rgb(49, 173, 122);
}

.doctor {
    width: 1200px;
    height:600px;
    margin: 0px auto;
    background-color:rgb(70, 70, 35);
}

.contact-container {
    width: 100vw;
    height: 300px;
    position: relative;
    margin-top: 3px;
    background-color: turquoise;
    display: flex;
    justify-content: space-evenly;
}

.emargency-app {
    width: 50%;
    height: 300px;
    background:linear-gradient(to right, white, blue);
}

.footer {
    width: 100vw;
    min-height:500px;
    background-color: rgba(200, 191, 191, 0.938);
}

.copyright {
    width: 100vw;
    height: 80px;
    background-color: black;
}
