* {
    font-family: 'Crimson Pro', serif;
    cursor: pointer;
}

.nav-header {
    position: relative;
    height: 50px;
    width: 100vw;
    background-color: #e1e8ee;
}

.contact-bar {
    position: relative;
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 0px auto;
}

.nav-media {
    color: lightsteelblue;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 20px;
    flex-grow: 1;
}

.nav-contact {
    color: lightsteelblue;
    padding-top: 13px;
    padding-bottom: 5px;
    font-size: 17px;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #FFFFFF;
}

.navbar {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0px auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 60px;
    font-size: 30px;
    font-weight:bolder;
    padding-top: 17px;
    color: lightslategrey;
    
}


.nav-menu {
    width: 700px;
    height: 60px;
    margin-left: 30px;
    flex-grow: 1.5px;
    display: flex ;
    justify-content: space-between;
    align-items: center;  
    color: rgb(255, 255, 255);  
    font-size: medium;
}


#links-page a {
    text-decoration: none;
    color: #919191;
    font-size: 20px;
}

.appointment {
    border: 1px solid grey;
    padding: 15px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color:#5DB2FF;
    font-size: 18px;
}

.appointment a {
    text-decoration: none;
    color: white;
}

.appointment:hover {
    background-color: white;
    transition-duration: 0.1s;
    color: blue;
}




.main {
    width: 100vw;
    min-height: 800px;
    background-image:url('/static/images/main.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.main-content {
    width: 1200px;
    min-height: 500px;
    background-color: rgb(112, 160, 122);
    margin: 0px auto;
}

.card-container {
    width: 1200px;
    min-height: 300px;
    /* background-color: lightskyblue; */
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    position: relative;
}

.card {
    width: 33.333%;
    min-height: 450px;
    background-color: rgb(112, 160, 122);
    margin-top: 5px;
}

.welcome-container {
    min-height: 700px;
    width: 1200px;
    margin: 0px auto;
    background-color: rgb(31, 138, 156);
    padding-top: 2px;
    margin-top: 5px;
}

.department-container {
    min-height: 800px;
    width: 1200px;
    margin: 0px auto;
    background-color: yellowgreen;
    margin-top: 5px;
}

.feedback {
    width: 100vw;
    height: 600px;
    background-color: rgb(46, 127, 173);
    margin-top: 5px;
}

.service {
    width: 1200px;
    height: 550px;
    margin: 0px auto;
    background-color: rgb(49, 173, 122);
}

.doctor {
    width: 1200px;
    height:600px;
    margin: 0px auto;
    background-color:rgb(70, 70, 35);
}

.contact-container {
    width: 100vw;
    height: 300px;
    position: relative;
    margin-top: 3px;
    background-color: turquoise;
    display: flex;
    justify-content: space-evenly;
}

.emargency-app {
    width: 50%;
    height: 300px;
    background:linear-gradient(to right, white, blue);
}

.footer {
    width: 100vw;
    min-height:500px;
    background-color: rgba(200, 191, 191, 0.938);
}

.copyright {
    width: 100vw;
    height: 80px;
    background-color: black;
}
