{% extends 'layouts/app.html' %}

{% block container %}
    <div class="contact_container">
        <div class="contact_img">

        </div>
        <div class="contact_text">

        </div>
    </div>

    <div class="map">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1200" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:1200px;}</style><a href="https://www.embedgooglemap.net">add google map to website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1200px;}</style></div></div>
    </div>

    <div class="contact_form">
        <h1>Get in touch</h1>
    </div>
{% endblock %}