{% extends "layouts/app.html" %}

{% block main %}
    <div class="main-content">
        <h1>Health care service</h1>
        <h2>For Whole Family</h2>

        <h3>In healthcare sector service excellence is the facility of</h3>
        <h3>the hospital service provider to consistently. </h3>


        <a href="#" class="service-main">Check our services</a>
    </div>
{% endblock %}


{% block card_container %}
    <div class="card">

        <div class="card1" style="background-color: #83C4FF; margin-left: -3px;">
            <i class="fas fa-heartbeat"></i>
            <h3>Hospitality</h3>
            <p>Clinical excellence must be the priority for any health care service provider.</p>

            <a href="#" class="card-button">Apply For a Bed</a>

        </div>

        <div class="card1" style="background-color:#5DB2FF; padding-left: 20px;">
            <i class="fas fa-phone-alt"></i>
            <h3>Hospitality</h3>
            <p>Clinical excellence must be the priority for any health care service provider.</p>
            
            <a href="#" class="card-button">+1234567890</a>
        </div>

        <div class="card1" style="background-color: #83C4FF; padding-left: 20px; margin-right: -3px;">
            <i class="fas fa-briefcase-medical"></i>
            <h3>Hospitality</h3>
            <p>Clinical excellence must be the priority for any health care service provider.</p>

            <a href="#" class="card-button" >Make an Appoint</a>

        </div>
    </div>
{% endblock %}


{% block welcome_container %}
    <div class="container-content">
        <div class="img1">
            
        </div>
        <div class="img2">

        </div>
    </div>
    <div class="container-content">
        <h2>Welcome to Docmed</h2>

        <h1>Best Care For Your <br>
            Good Health</h1>

        <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression.</p>

        <a href="#" id="learnflat">Learn More</a>

    </div>
{% endblock %}
    

{% block outer_department %}
    <div class="department-row">
        <h1>Our De<span style="text-decoration: underline;">part</span>ments</h1>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur adipisicing elit.</h4> 
        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, cum!</h4>

        <div class="all-department">

            <div class="single-department-0">
            
                <div class="department_thumb">

                </div>

                <div class="department-content">
                    <h4>Surgery Service</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>

                    <a href="#" id="department-more">Learn more</a>
                </div>
            </div>  

            <div class="single-department-1">
            
                <div class="department_thumb">
                    
                </div>

                <div class="department-content">
                    <h4>Eye Care</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>

                    <a href="#" id="department-more">Learn more</a>
                </div>
            </div>  

            <div class="single-department-2">
            
                <div class="department_thumb">
                    
                </div>

                <div class="department-content">
                    <h4>Eye Care</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>

                    <a href="#" id="department-more">Learn more</a>
                </div>
            </div>

            <div class="single-department-3">
            
                <div class="department_thumb">
                    <!-- <img src="{{url_for('static', filename='images/d1.jpg')}}" alt="" srcset="" width="200px" height="200px"> -->
                </div>

                <div class="department-content">
                    <h4>Eye Care</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>

                    <a href="#" id="department-more">Learn more</a>
                </div>
            </div>  

            <div class="single-department-4">
            
                <div class="department_thumb">
                    
                </div>

                <div class="department-content">
                    <h4>Eye Care</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>

                    <a href="#" id="department-more">Learn more</a>
                </div>
            </div>  

            <div class="single-department-5">
            
                <div class="department_thumb">
                    
                </div>

                <div class="department-content">
                    <h4>Eye Care</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>

                    <a href="#" id="department-more">Learn more</a>
                </div>
            </div>  

        </div>



    </div>
{% endblock %}


{% block feedback %}
    <div>
        <i class="fas fa-quote-left"></i>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iure dolorem perferendis doloribus! Officia voluptatum esse dignissimos? Molestiae, maxime ducimus.</p>

    <p id="comment">Asana Korim</p>
{% endblock %}


{% block doctor %}
    <div class="outer-department">
        <div class="department-row">
            <h1>Expert Doctors</h1>
            <div class="all-department">

                <div class="single-department-0">
                
                    <div class="department_thumb">

                    </div>
        
                    <div class="department-content">
                        <h4>Miral Alom </h4>
                        <p>Neurologist</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>
        
                    </div>
                </div>  

                <div class="single-department-1">
                
                    <div class="department_thumb">
                        
                    </div>
        
                    <div class="department-content">
                        <h4>Miral Alom </h4>
                        <p>Neurologist</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>
                    </div>
                </div>  

                <div class="single-department-2">
                
                    <div class="department_thumb">
                        
                    </div>
        
                    <div class="department-content">
                        <h4>Miral Alom </h4>
                        <p>Neurologist</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>
                    </div>
                </div>

                <div class="single-department-3">
                
                    <div class="department_thumb">
                        <!-- <img src="{{url_for('static', filename='images/d1.jpg')}}" alt="" srcset="" width="200px" height="200px"> -->
                    </div>
        
                    <div class="department-content">
                        <h4>Miral Alom </h4>
                        <p>Neurologist</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>
                    </div>
                </div>  

                <div class="single-department-4">
                
                    <div class="department_thumb">
                        
                    </div>
        
                    <div class="department-content">
                        <h4>Miral Alom </h4>
                        <p>Neurologist</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>
                    </div>
                </div>  

                <div class="single-department-5">
                
                    <div class="department_thumb">
                        
                    </div>
        
                    <div class="department-content">
                        <h4>Miral Alom </h4>
                        <p>Neurologist</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, explicabo?</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}